<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Etiqueta VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo que aparecera en el navegador -->
    <title>Don Remolo Pizzeria</title>

    <!-- Aqui iran los link para GOOGLE Fonts -->
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
        <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
            <enlace
                href="https: //fonts.googleapis.com/css2? family= Roboto:wght@100;400 & family= Square+Peg & family= Water+Brush & family= Whisper & display=swap"
                rel="stylesheet">

                <!-- Aqui ira el link para los iconos -->
                <!--  <script src="https://kit.fontawesome.com/e32bldc814.js" crossorigin="anonymous"></script> -->
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
                    rel="stylesheet" />

                <!-- Aqui va el link de NORMALIZE -->
                <link rel="stylesheet" href="/css/normalize.css">
                <!-- Aqui iran los link para Mi CSS y aqui estan todos mis archivos del CSS-->
                <link rel="stylesheet" href="/css/styles.css">

                <!--links bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <!--fin links bootstrap-->

</head>

<!-- Aqui ira el BODY -->

<body>

    <!-- Aqui ira el HEADER -->

    <header class="main-header">

        <div class="main-header-top-bar">
            <!-- LOGO PIZZERIAS DON REMOLO -->
            <img src="/images/logo.jpg" class="logo">
        </div>

        
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"> </i>
        </a>
        <nav class="main-navbar">

            <ul class="left-navbar">
                <li> <a href="/envios">Envios <i class="fas fa-truck"></i> </a> </li>
                <li> <a href="/pagos">Medios de Pago <i class="far fa-credit-card"></i> </a></li>
                <li> <a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i> </a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register"> Registrate <i class="far fa-id-card"></i></a></li>
                <li><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>

    </header>

    <!-- AQUI VA EL BANNER -->
    <img src="/images/fondo-pizza.jpg" alt="home-banner" class="banner">

    <!-- Aqui ira el main -->
    <main class="main">

        <!-- ************************************************************************************************* -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="local-don-remolo" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img_chania.jpg" alt="Chania">
                <div class="carousel-caption">
                  <h3>Chania</h3>
                  <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
              </div>
          
              <div class="item">
                <img src="img_chania2.jpg" alt="Chania">
                <div class="carousel-caption">
                  <h3>Chania</h3>
                  <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
              </div>
          
              <div class="item">
                <img src="img_flower.jpg" alt="Flower">
                <div class="carousel-caption">
                  <h3>Flowers</h3>
                  <p>Beautiful flowers in Kolymbari, Crete.</p>
                </div>
              </div>
          
              <div class="item">
                <img src="img_flower2.jpg" alt="Flower">
                <div class="carousel-caption">
                  <h3>Flowers</h3>
                  <p>Beautiful flowers in Kolymbari, Crete.</p>
                </div>
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          


        <!-- *************************************************************************************************** -->
        <p class="titulares">Productos de la carta</p>

        <p class="titulares">Pizzas</p>
        
    <section class="section-producto">
       
        <!-- PRODUCTO 1 -->
        <article class="producto">
            
            <img src="/images/napolitana.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <!-- Aqui va el icono del camioncito -->
                
                <p id="precios">$9.770</p>
                <p id="descuentos">50% OFF - Pago Efectivo</p>
                <P style="color:black">Napolitana</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 1 -->

        <!-- PRODUCTO 2 -->
        <article class="producto">
            
            <img src="/images/muzzarella.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$4.770</p>
                <p id="descuentos">10% OFF - Pago Efectivo</p>
                <P style="color:black">Muzzarella</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 2 -->

        <!-- PRODUCTO 3 -->
        <article class="producto">
            
            <img src="/images/jamon.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.000</p>
                <p id="descuentos">15% OFF - Pago Efectivo</p>
                <P style="color:black">Jamon y Morron</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 3 -->

        <!-- PRODUCTO 4 -->
        <article class="producto">
            
            <img src="/images/peperoni.jpg" alt="peperoni" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.770</p>
                <p id="descuentos">25% OFF - Pago Efectivo</p>
                <P style="color:black">Peperoni</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 4 -->
    </section >

    <p class="titulares">Empanadas</p>

    <section class="section-producto">
       
        <!-- PRODUCTO 1 -->
        <article class="producto">
            
            <img src="/images/empanada_carne.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$9.770</p>
                <p id="descuentos">50% OFF - Pago Efectivo</p>
                <P style="color:black">Empanada de carne</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 1 -->

        <!-- PRODUCTO 2 -->
        <article class="producto">
            
            <img src="/images/empanada_atun.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$4.770</p>
                <p id="descuentos">10% OFF - Pago Efectivo</p>
                <P style="color:black">Empanada de Atun</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 2 -->

        <!-- PRODUCTO 3 -->
        <article class="producto">
            
            <img src="/images/empanada_jamonyqueso.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.000</p>
                <p id="descuentos">15% OFF - Pago Efectivo</p>
                <P style="color:black">Empanada J y Q</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 3 -->

        <!-- PRODUCTO 4 -->
        <article class="producto">
            
            <img src="/images/empanada_verdura.jpg" alt="peperoni" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.770</p>
                <p id="descuentos">25% OFF - Pago Efectivo</p>
                <P style="color:black">Empanada de Verdura</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 4 -->
    </section >
        
    <p class="titulares">Bebidas</p>

    <section class="section-producto">
       
        
        <!-- PRODUCTO 1 -->
        <article class="producto">
            
            <img src="/images/gaseosa.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$9.770</p>
                <p id="descuentos">50% OFF - Pago Efectivo</p>
                <P style="color:black">Pepsi en botellita</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 1 -->

        <!-- PRODUCTO 2 -->
        <article class="producto">
            
            <img src="/images/pepsi.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$4.770</p>
                <p id="descuentos">10% OFF - Pago Efectivo</p>
                <P style="color:black">Pepsi en lata</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 2 -->

        <!-- PRODUCTO 3 -->
        <article class="producto">
            
            <img src="/images/agua.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.000</p>
                <p id="descuentos">15% OFF - Pago Efectivo</p>
                <P style="color:black">Agua Mineral</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 3 -->

        <!-- PRODUCTO 4 -->
        <article class="producto">
            
            <img src="/images/cerveza.jpg" alt="peperoni" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.770</p>
                <p id="descuentos">25% OFF - Pago Efectivo</p>
                <P style="color:black">Cerveza Brahma</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 4 -->
    </section >

    
    <p class="titulares">Postres</p>

    <section class="section-producto">
       
        
        <!-- PRODUCTO 1 -->
        <article class="producto">
            
            <img src="/images/bombones.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$9.770</p>
                <p id="descuentos">50% OFF - Pago Efectivo</p>
                <P style="color:black">Bombones</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 1 -->

        <!-- PRODUCTO 2 -->
        <article class="producto">
            
            <img src="/images/almendrado.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$4.770</p>
                <p id="descuentos">10% OFF - Pago Efectivo</p>
                <P style="color:black">Helado Almendrado</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 2 -->

        <!-- PRODUCTO 3 -->
        <article class="producto">
            
            <img src="/images/helado.jpg" alt="" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.000</p>
                <p id="descuentos">15% OFF - Pago Efectivo</p>
                <P style="color:black">Palito Bombon</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 3 -->

        <!-- PRODUCTO 4 -->
        <article class="producto">
            
            <img src="/images/frutas.jpg" alt="peperoni" class="foto-producto">

            <div class="detalle-Producto">

                <p id="precios">$6.770</p>
                <p id="descuentos">25% OFF - Pago Efectivo</p>
                <P style="color:black">Ensalada de Frutas</P>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
            </div>

        </article>
        <!-- PRODUCTO 4 -->
    </section >
    
    </main>

    <img src="/images/tipos-de-pizzas.jpg" alt="home-banner" class="banner">
    <br>
    <br>
<!-- Aqui ira el FOOTER -------------------------------------------------------------------------------------->

<footer class="footer-section">
    <article>

        <div class="tarjeta">
            <i class="fa-solid fa-credit-card "></i>
        </div>

        <p class="pago">Paga con tarjeta o en efectivo</p>
        <p class="pagoDescripcion">Aqui en Pizzeria Don Remolo Cash,
            tenes cuotas sin interes con tarjeta o efectivo en
            puntos de pago.
            ¡Y siempre seguro!</p>

    </article>

    <article>

        <div class="regalo">
            <i class="fa-solid fa-gift "></i>
        </div>

        <p class="envio">Envio gratis desde $3.500</p>
        <p class="envioDescripcion">
            Solo por estar registrad@ en
            Pizzeria Don Remolo tenes envios gratis de
            productos.
            
        </p>

    </article>

    <article>

        <div class="icinoSeguridad">
            <i class="fa-solid fa-user-shield "></i>
        </div>

        <p class="seguridad">Seguridad, de principio a fin</p>
        <p class="seguridadDescripcion"> ¿No te animas?
            ¡Compra seguro!
            En Pizzeria Don Remolo, podes navegar online
            hacer tu compra, y tu pizza llega a destino</p>

    </article>



</footer>
<article>

    <p class="fin-footer">Copyright © 1999-2020 Pizzeria Don Remolo S.R.L.</p>

</article>
</body>

</html>